<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RestAddrURL" value="http://localhost:52539/api/BTCAddr?apikey=03d76e17be683ac29c8574146ad268649003ac3efaf5a2c25628bfdaa229ff7e2c" />

    <!-- Bitcoin Service vars -->
    <add key="BTCEnable" value="true" />
    <!-- 設定各項資料定時刷新的星期，0-6 代表 星期日-星期六 -->
    <add key="BTCServiceDates" value="0,1,2,3,4,5,6" />
    <!-- 設定各項資料定時刷新的時間 HH:mm -->
    <add key="BTCServiceTime" value="00:00" />

    <!-- email keys-->
    <add key="FromMailA" value="[Ares Debug Testing] &lt;greenchen@ares.com.tw&gt;"/>
    <add key="UserIdA" value="greenchen"/>
    <add key="PasswordA" value="yehkuomAILMAn"/>
    <add key="HostA" value="smtp.ares.com.tw"/>
    <add key="SmtpPortA" value="25"/>
    <!-- email keys-->
  </appSettings>
  <connectionStrings>
    <add name="Development" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlockChain;Integrated Security=False;User ID=sa;Password=q1w2e3r4,k.l;Min Pool Size=0;Max Pool Size=32768" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>